body{
    background-image: url("https://th.bing.com/th/id/OIP.hh-ASG96oPbbtWm5o5vsJAHaEo?w=362&h=187&c=7&r=0&o=5&pid=1.7");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-secondary{
    border: #fff solid 1px;
    margin: 5px;
    padding: 5px;
}

a.nav-link.active {
    font-size: 15px;
}

img.navbar- {
    background: white;
    border-radius: 5px;
}

img.navbar-:hover{
    background: black;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    padding-right: 22px;
    text-align: center;
}


a.nav-link.active{
    background-color: #0c92e0 !important;
    border-radius: 40px;
    color: white !important;
    margin-left: 10px;
    text-align: center !important;
}

a.nav-link.actives {
    font-size: 15px;
    color: rgb(6, 5, 5)!important;
    background-color: #2191d0;
    margin-left: 30px;
    width: 100px;
    height: 47px;
    border-radius: 11px;
    text-align: center;
}

a.nav-link.active {
    padding-left: 30px !important;
}

.cards{
    text-align: center;
    color: #fff;
}

img.card-img {
    width: 64%;
    border-radius: 50%;
}

img.card-img:hover{
    padding: 1rem;
    background-position: 50% 50%;
    border-radius: 60px;
    margin-right: auto;
    margin-left: auto;
    transition:  0.6s ;
    animation-duration: 0.9s;
    border: 1px solid white;
}

img.d-block.w-100 {
    width: 15% !important;
}

.carousel {
    position: relative;
    margin-top: 37px;
    background: #fff;
    padding: 26px;
}

.slides{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.slides h2{
    color: #e1940e;
    padding-bottom: 25px;
    font-size: 28px;
}

span.cust {
    color: rgb(137 127 127);
}

.numbers{
    /* background: #e94b1b; */
    color: #fff;
    padding: 20px;
}

div#border {
    background: rgb(6, 6, 6);
    border-radius: 62px;
    text-align: center;
    width: 267px;
    margin-left: 145px;
    border: 1px solid rgb(252, 248, 248);
    padding-top: 5px;
}

div#border:hover{
    color: black;
    box-shadow: inset 400px 0 0 0 #fff;
    border: 1px solid rgb(7, 0, 0);
}

img.d-block.w-100 {
    margin: auto;
}

.carousel-item.active{
    text-align: center;
}

.carousel-item.active h5{
    color: #2191d0;
}

.carousel-item.active h2{
    color: #e1940e;
    margin-top: 10px;
    padding-bottom: 20px;
}

.table{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
}

div#border-2 {
    background-color: #fff;
    text-align: center;
    width: 372px;
    margin: 35px;
    padding: 26px;
    border-radius: 10px;
}

div#border-2:hover{
    background-color: black;
    color: white;
}

.table h3{
    color: #e94b1b;
}

.table h2{
    color: #e1940e;
}

img.d-block.w-100 {
    margin: auto;
    width: 150px !important;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
}

img.d-block.w-100:hover{
    border: #0c92e0 2px solid;
}

.carousel {
    position: relative;
    margin-top: -16px;
    background: #fff;
    padding: 26px;
}

.footer{
    background-color: #2191d0;
    text-align: center;
    padding: 25px;
    color: #fff;
}

.carousel-control-next-icon {
    font-size: 44px;
    margin-top: 41px;
    margin-left: 88px;
    color: #000;
}

.carousel-control-prev-icon {
    font-size: 44px;
    margin-top: 41px;
    margin-right: 88px;
    color: #000;
}